<style>
   body {
      background-color: #eee;
   }
</style>
<div class="login-wrapper">
   <div class="login-header">
      <h1 class="page-center">Login</h1>
   </div>
   <div class="login-body">
      <form name="loginForm" ng-submit="LoginCtrl.login()" id="loginForm" autocomplete="off">
         <label for="email">Email Address</label>
         <input type="email"
                name="email"
                data-ng-model="LoginCtrl.form.email"
                required
                autofocus="autofocus"
                id="email"
                class="input text email"/>

         <label for="password">Password</label>
         <input type="password"
                data-ng-model="LoginCtrl.form.pass"
                name="pass"
                required
                ng-minlength="6"
                id="password"
                class="input text password"/>

         <button type="submit" data-ng-disabled="loginForm.$invalid">Sign-in</button>
      </form>
   </div>
</div>